<footer class="text-center bg-dark mt-5">    
    <div class="container-fluid p-3 footercolor1">
       <p class=" align-items-center">
       <span class="me-3 text-light">Tem alguma dúvida ou sugestão?</span></p>
       <p><button type="button" class="btn btn-outline-light">
         Entrar em contato
       </button>
       </p>
    </div>

    <div class="text-center text-white p-3 footercolor2">
       <a class="text-light" href="#">©️ 2021 StoreNotes</a>
       <p> Version 0.0.1 All rights reserved </p>
     </div>
   </footer>