<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8"/>
        <!-- Não sei se isso vai aqui.-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- Não sei se isso vai aqui.-->
        {% block cabecalho %}
		    <title>Template</title>
        {% endblock %}
        {% block estilo %}
        
        {% endblock %}
	</head>
	
	<body>
		{% block conteudo %}
            <p>Conteúdo padrão</p>
        {% endblock %}
		
	</body>
</html>